/* css link here */
/* google font import link here */


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* header style here */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.middle-header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.middle-header nav ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px ;
    font-style: 600;
}
.right-header button{
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    background-color: #E8BA2E;
    color: black;
    font-weight: 700;
}
/* banner style here */
.banner{
    background-image: url(../images/image.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 650px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.banner-content h2{
    font-size: 88px;
    font-weight: bold;
    color: white;

}
.banner-content p{
    font-size: 16px;
    color: white;
}
.banner-btn button{
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    background-color: #E8BA2E;
    color: black;
    font-weight: 700;
    margin-top: 30px;
}
